.checkbox {
    display: flex;
    align-items: center;
    height: 30px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
    background: rgb(255 255 255 / 10%);
    border-radius: 4px;
    position: relative;
}

.checkbox-label {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
    margin-left: 24px;
}

.checkbox-input {
    height: 0px;
    width: 0px;
    opacity: 0;
}

.checkbox-input:not(:checked) + .checkbox-label::before {
   content: "";
   height: 20px;
   width: 20px;
   border: 2px solid gray;
   position: absolute;
   top: 5px;
   left: 10px;
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.5);
}

.checkbox-input:checked + .checkbox-label::before {
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid rgb(101, 79, 249);
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 4px;
    background-color: rgb(101, 79, 249);
}

.checkbox-input:not(:checked) + .checkbox-label::after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    left: 10px;
    background-image: url('../../assets/checkbox-tick.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    transform: scale(0);
}

.checkbox-input:checked + .checkbox-label::after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 4px;
    background-image: url('../../assets/checkbox-tick.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
    transition: all 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.checkbox-input:not(:checked):focus + .checkbox-label::before {
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid gray;
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 2px rgba(101, 79, 249);
}
