.field {
    
}

.field-label {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.field-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px
}
